body{
    display: flex;
    background-color: rgb(223, 211, 202);
}
.gauche{
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    color: white;
    width: 40%;
    height: auto;
    background-color: #251d1a;

}
.droite{
    padding: 20px;
    margin: 20px;
    width: 60%;
    height: auto;

}
h1{
    font-size: 4rem;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 150px;

}
